<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exercise_03</title>
</head>
<body>
    <!-- Header to take user to either page -->
    <header>
        <nav>
            <ul>
                <a href="/">
                    Home
                </a>
                <a href="/studentRegister" style="padding-left: 50px;">
                    Registered Students
                </a>
            </ul>
        </nav>
    </header>
    <main>
        {% block body %}
        <!-- I DONT UNDERSTAND THIS SYNTAX FULLY YET -->
        
        {% endblock %}
    </main>
</body>
</html>
    